<ion-view view-title="Confirme seu email">
  <ion-content scroll="false" ng-class="{expanded:$scope.isExpanded}">
    <div class="padding-register">
      <div class="distance">
        <span class="labels"></span>
        <label class="item item-input inputs-register">
          <input placeholder="Chave" type="text" ng-model='confirm_token'>
        </label>

        <div class="padding-email-key">
          Verifique a sua chave no e-mail.
          <input type="submit" class="button button-block button-calm" ng-click="confirmEmail(confirm_token)" value="Entrar com a chave" />
        </div>
      </div>
    </div>

      <!-- Div para login com rede social  -->
  </ion-content>
</ion-view>
