<ion-view hide-nav-bar="true">
  <ion-content class="background-home">
    <div class="damn">
      Configure seu perfil
    </div>
    <div class="profile-image padding">
      <img ng-src="data:image/jpeg;base64,{{user.avatar}}" err-src="/img/ionic.png" />
    </div>
    <button class="profile-edit-button" ng-click="alterarFoto()">Alterar foto</button>
    <div class="padding-tela1">
      <div class="fields">
        <div class="distance">
          <span class="labels"></span>
          <label class="item item-input inputs-register">
            <input placeholder="Nome" type="text" ng-model='user.name'>
          </label>
        </div>
        <div class="distance">
          <span class="labels"></br></span>
          <label class="item item-input inputs-register">
            <input placeholder="Bairro" type="text" ng-model='user.district'>
          </label>
        </div>
        <div class="distance">
          <span class="labels"></br></span>
          <label class="item item-input inputs-register">
            <input placeholder="Cidade" type="text" ng-model='user.city'>
          </label>
        </div>

        <div class="row">

          <div class="col col-50">
            <span class="labels"></br></span>
            <label class="item item-input inputs-register">
              <input placeholder="Altura" type="text" ng-model='user.height'>
            </label>
          </div>
          <div class="col col-50">
            <span class="labels"></br></span>
            <label class="item item-input inputs-register">
              <input placeholder="Peso" type="text" ng-model='user.weight'>
            </label>
          </div>
        </div>
        <div class="distance">
          <span class="labels"></br></span>
          <label class="item item-input">
            <textarea placeholder="Descrição" ng-model='user.description'></textarea>
          </label>
        </div>
      </div>
      <div>
      <p ng-repeat="img in images">
        <img ng-src="{{img}}"/>
      </p>
      <button class=" btCamera font button button-block button-positive icon ion-ios-camera" ng-click="selImages()"> Câmera</button>
    </div>
    <span class="labels"></br></span>
        <button class="sparara" ng-click="updateProfile(user)">Salvar</button>
        <span class="labels"></br></span>
        <span class="labels"></br></span>
    </div>
  </ion-content>
</ion-view>
