<ion-view hide-nav-bar="true">
  <ion-content class="background-home">
    <div class="damn">
      Configure seu perfil
    </div>
    <div class="profile-image padding">
      <img ng-src="data:image/jpeg;base64,{{user.avatar}}" err-src="/img/ionic.png" />
    </div>
    <button class="profile-edit-button" ng-click="alterarFoto()">Alterar foto</button>
    <div class="padding-tela1">
      <div class="fields">
        <div class="distance">
          <span class="labels"></span>
          <label class="item item-input inputs-register">
            <input placeholder="Nome" type="text" ng-model='user.name'>
          </label>
        </div>
        <div class="distance">
          <span class="labels"></br></span>
          <label class="item item-input inputs-register">
            <input placeholder="Bairro" type="text" ng-model='user.district'>
          </label>
        </div>
        <div class="distance">
          <span class="labels"></br></span>
          <label class="item item-input inputs-register">
            <input placeholder="Cidade" type="text" ng-model='user.city'>
          </label>
        </div>
        <div class="distance">
          <span class="labels"></br></span>
          <ionic-datepicker ion-datetime-picker date="dateValue" min="minDate" max="maxDate" callback="datePickerCallback" date ng-model="user.birthday">
            <button class="button button-block icon-right ion-calendar"> {{ user.birthday | date:'dd/MM/yy' }}</button>
          </ionic-datepicker>
        </div>

        <div class="row">

          <div class="col col-50">
            <span class="labels"></br></span>
            <label class="item item-input inputs-register">
              <input placeholder="Altura" type="text" ng-model='user.height'>
            </label>
          </div>
          <div class="col col-50">
            <span class="labels"></br></span>
            <label class="item item-input inputs-register">
              <input placeholder="Peso" type="text" ng-model='user.weight'>
            </label>
          </div>
        </div>
        <div class="distance">
          <span class="labels"></br></span>
          <label class="item item-input">
            <textarea placeholder="Descrição" ng-model='user.description'></textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="man-class" ng-if="!user.search_male" ng-click="user.search_male = !user.search_male">
            <i class="icon ion-man"></i>
          </div>
          <div class="man-class-active" ng-if="user.search_male" ng-click="user.search_male = !user.search_male" ng-model="user.search_male">
            <i class="icon ion-man man-class"></i>
          </div>
        </div>
        <div class="col col-50">
          <div ng-if="!user.search_female" ng-click="user.search_female = !user.search_female">
            <i class="icon ion-woman woman-class"></i>
          </div>
          <div class="woman-class-active" ng-if="user.search_female" ng-click="user.search_female = !user.search_female" ng-model="user.search_female">
            <i class="icon ion-woman woman-class"></i>
          </div>
        </div>
      </div>
      <div class="padding-tela1">
        <div class="item range">
          <i class="icon ion-calendar"></i>
          <input type="range" name="age" ng-model="user.search_range" min="18" max="100" value="28">
        </div>
        {{user.search_range}}
        <span class="labels"></br></span>
      </div>
        <div class="grid" width="100%">
          <button class=" btCamera font button button-block icon ion-images" ng-click="selImages()"> Adicionar fotos</button>
            <div class="row" ng-repeat="img in user.gallery" ng-if="$index % 2 === 0">
                <div class="col col-50" ng-if="$index < user.gallery.length">
                    <img ng-src="{{user.gallery[$index]}}" width="100%" on-hold="removeItem($index)"/>
                </div>
                <div class="col col-50" ng-if="$index + 1 < user.gallery.length">
                  <img ng-src="{{user.gallery[$index + 1]}}" width="100%" on-hold="removeItem($index+1)"/>
                </div>
            </div>
        </div>
    <span class="labels"></br></span>
        <button class="sparara" ng-click="updateProfile(user)" ui-sref="app.profile">Salvar</button>
        <span class="labels"></br></span>
        <span class="labels"></br></span>
    </div>
  </ion-content>
</ion-view>
