<ion-view hide-nav-bar="true">
  <ion-content scroll="false" class="background-home">
    <!-- <a ui-sref="app.primeiraTelaEdit">bla</a>
    <a ui-sref="app.chat">chat</a>
    <a ui-sref="app.newchat">new chat</a>
    <a ui-sref="app.lobby">lobby</a> -->

        <div class="content">
            <div class="app-icon"></div>
        </div>
  <div class="padding-login">
    <div class="list">
      <button class="button button-block button-assertive" ng-click="loginGoogle()"><div class="margin-carai"><i class="icon ion-social-google"></i></div>Google</button>
      <button class="button button-block button-positive" ng-click="loginFacebook()"><div class="margin-carai"><i class="icon ion-social-facebook"></i></div>Facebook</button>
    </div>
  </div>
    <!-- <button class="button-block button-positive" style="font-size:18px;" ui-sref="app.register">
      Cadastre-se no App
    </button>
    <button class="button-block button-positive" style="font-size:18px;" ui-sref="app.activateaccount">
      Ativar Conta
    </button>
    <button class="button-block button-positive" style="font-size:18px;" ng-click="loginFacebook()">
      loginFacebook
    </button>
    <button class="button-block button-positive" style="font-size:18px;" ng-click="alterarFoto()">
    foto
    </button> -->
    <div class="foot-social hide-on-keyboard-open">
      <div class="padding">
        <a ui-sref="app.terms" class="positive">Termos de uso e política de privacidade</a>
      </div>
    </div>


  </ion-content>
</ion-view>
