<ion-view view-title="Informe onde você está">
  <ion-content ng-init="allLocations()"overflow-scroll="false">

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Buscar" ng-model="search.name">
    </label>

    <ion-list ng-repeat="location in locations | filter:search">
      <a class="item item-thumbnail-left" ng-click="doCheckin(location)">
        <img ng-src="{{location.image}}"/>
        <h2>{{location.name}}</h2>
      </a>
    </ion-list>
  </ion-content>
  <ion-tabs ng-if="isLogged" class="tabs-light tabs-icon-only">

    <ion-tab ng-controller="locationsCtrl" icon-on="ion-compass"
      icon-off="ion-compass" ng-click="allLocations()">
    </ion-tab>

    <ion-tab icon-on="ion-chatbubble-working" icon-off="ion-chatbubble-working"
      ui-sref="app.matches" ng-controller="LoginCtrl" ng-click="reloadUser('app.matches')">
    </ion-tab>

    <ion-tab icon-on="ion-camera" icon-off="ion-camera"
      ng-controller="LoginCtrl"ng-click="newPicture()">
    </ion-tab>

    <ion-tab icon-on="ion-ios-bell" icon-off="ion-ios-bell"
      ui-sref="app.notifications" ng-controller="LoginCtrl" ng-click="reloadUser('app.notifications')">
    </ion-tab>

    <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline"
      ui-sref="app.profile">
    </ion-tab>

  </ion-tabs>
</ion-view>
