<ion-view view-title="Informe onde você está">
  <ion-content ng-init="allLocations()"overflow-scroll="false">
    <ion-list ng-repeat="location in locations">
      <a class="item item-thumbnail-left" ng-click="viewLocation(location);doCheckin(location)">
        <img ng-src="{{location.image}}"/>
        <h2>{{location.name}}</h2>
      </a>
    </ion-list>
  </ion-content>
  <ion-tabs ng-if="isLogged" class="tabs-light tabs-icon-only">

    <ion-tab ng-controller="locationsCtrl" icon-on="ion-compass"
      icon-off="ion-compass" ng-click="allLocations()">
    </ion-tab>

    <ion-tab icon-on="ion-chatbubble-working" icon-off="ion-chatbubble-working"
      ui-sref="app.matches">
    </ion-tab>

    <ion-tab icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    </ion-tab>

    <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline"
      ui-sref="app.profile">
    </ion-tab>

  </ion-tabs>
</ion-view>
