<ion-view view-title="Informe onde você está">
  <ion-nav-bar class="bar bar-light">
    <ion-nav-back-button ></ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button-icon icon ion-gear-b" ng-controller="LoginCtrl"ng-click="popover.show($event)">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content ng-init="allLocations()" style="margin-bottom:10%;">

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Buscar" ng-model="search.name">
    </label>

    <ion-list ng-repeat="location in locations | filter:search | limitTo:pageSize">
      <a class="item item-thumbnail-left" ng-click="doCheckin(location)">
        <img ng-src="{{location.image}}"/>
        <h2>{{location.name}}</h2>
      </a>
    </ion-list>
    <button class=" btnPlus font button button-block icon ion-ios-plus-empty"
      ng-click="loadNextPage()">
        Mostrar mais
    </button>
  </ion-content>
  <ion-tabs ng-if="isLogged" class="tabs-light tabs-icon-only">

    <ion-tab ng-controller="locationsCtrl" icon-on="ion-compass"
      icon-off="ion-compass" ng-click="allLocations()">
    </ion-tab>

    <ion-tab icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline"
      ui-sref="app.matches" ng-controller="LoginCtrl" ng-click="reloadUser('app.matches')">
    </ion-tab>

    <ion-tab icon-on="ion-ios-camera-outline" icon-off="ion-ios-camera-outline"
      ng-controller="LoginCtrl"ng-click="newPicture()">
    </ion-tab>

    <ion-tab icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline"
      ui-sref="app.notifications" ng-controller="LoginCtrl" ng-click="reloadUser('app.notifications')">
    </ion-tab>

    <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline"
      ui-sref="app.profile">
    </ion-tab>

  </ion-tabs>
</ion-view>
