<ion-view view-title="Matches">

  <ion-content overflow-scroll="false">

    <div class="list">
      <ion-list ng-repeat="match in matches">
        <div class="item item-avatar item-button-right">
          <img src="{{match.avatar}}" ng-controller="UsersCtrl" ng-click="viewUser(match.token)" >
          <h2>{{match.name}}</h2>
          <p>{{match.description}}</p>
          <button class="button button-positive" ng-click="chatRoom(match.roomId)" ui-sref="app.chat">
            <i class="icon ion-chatbubbles" ></i>
          </button>
        </div>
      </ion-list>
    </div>
  </ion-content>
  <ion-tabs ng-if="isLogged" class="tabs-light tabs-icon-only tabs-color-positive">

    <ion-tab ng-controller="locationsCtrl" icon-on="ion-compass"
      icon-off="ion-compass" ng-click="allLocations()">
    </ion-tab>

    <ion-tab icon-on="ion-chatbubble-working" icon-off="ion-chatbubble-working"
      ui-sref="app.matches">
    </ion-tab>

    <ion-tab icon-on="ion-camera" icon-off="ion-camera"
      ui-sref="">
    </ion-tab>

    <ion-tab icon-on="ion-ios-bell" icon-off="ion-ios-bell"
      ui-sref="">
    </ion-tab>

    <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline"
      ui-sref="app.profile">
    </ion-tab>
  </ion-tabs>
</ion-view>
