<ion-view>
  <ion-content>
    <refresher></refresher>

    <div ng-repeat="message in messages | orderBy:'created_at'">
      <div class="chat-bubble left" ng-if="message.email !== user.email">
        <div class="message" ng-bind-html="message.content | nl2br" autolinker>
          {{message.content}}
        </div>
        <div class="message-detail">
          <span class="bold">{{message.created_by}}</span>
          <span class="date" am-time-ago="">{{message.created_at | date: 'dd/MM/yy HH:mm'}}</span>
        </div>

      </div>
      <div class="chat-bubble right" ng-if="message.email === user.email">
        <div class="message" ng-bind-html="message.content | nl2br" autolinker>
          {{message.content}}
        </div>
        <div class="message-detail">
          <span class="bold">{{message.created_by}}</span>
          <span class="date" am-time-ago="">{{message.created_at | date: 'dd/MM/yy HH:mm'}}</span>
        </div>
      </div>
    </div>

  </ion-content>
  <div class="bar bar-footer bar-stable" id="bar-footer-message-box">
    <div class="list" style="width:100%;">
      <form ui-keypress="{13:'submitAddMessage($event)'}" data-ng-submit="submitAddMessage()" >
        <label class="item item-input">
          <input type="text" placeholder="Digite sua mensagem..." data-ng-model="newMessage">
          <button class="button button-positive">Enviar</button>
        </label>
      </form>
    </div>
  </div>
  <ion-tabs ng-if="isLogged" class="tabs-light tabs-icon-only">

    <ion-tab ng-controller="locationsCtrl" icon-on="ion-compass"
      icon-off="ion-compass" ng-click="allLocations()">
    </ion-tab>

    <ion-tab icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline"
      ui-sref="app.matches" ng-controller="LoginCtrl" ng-click="reloadUser('app.matches')">
    </ion-tab>

    <ion-tab icon-on="ion-ios-camera-outline" icon-off="ion-ios-camera-outline"
      ng-controller="LoginCtrl"ng-click="newPicture()">
    </ion-tab>

    <ion-tab icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline"
      ui-sref="app.notifications" ng-controller="LoginCtrl" ng-click="reloadUser('app.notifications')">
    </ion-tab>

    <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline"
      ui-sref="app.profile">
    </ion-tab>

  </ion-tabs>
</ion-view>
