<ion-view>
  <ion-content class="chat-message">
    <refresher></refresher>

    <div ng-repeat="message in messages | orderBy:'created_at'">
      <div class="chat-bubble left" ng-if="message.email !== user.email">
        <div class="message" ng-bind-html="message.content | nl2br" autolinker>
          {{message.content}}
        </div>
        <div class="message-detail">
          <span class="bold">{{message.created_by}}</span>
          <span class="date" am-time-ago="">{{message.created_at | date: 'dd/MM/yy HH:mm'}}</span>
        </div>

      </div>
      <div class="chat-bubble right" ng-if="message.email === user.email">
        <div class="message" ng-bind-html="message.content | nl2br" autolinker>
          {{message.content}}
        </div>
        <div class="message-detail">
          <span class="bold">{{message.created_by}}</span>
          <span class="date" am-time-ago="">{{message.created_at | date: 'dd/MM/yy HH:mm'}}</span>
        </div>
      </div>
    </div>

  </ion-content>
  <div class="bar bar-footer bar-stable" id="bar-footer-message-box">
    <div class="list" style="width:100%;">
      <form ui-keypress="{13:'submitAddMessage($event)'}" data-ng-submit="submitAddMessage()" >
        <label class="item item-input">
          <input type="text" placeholder="Digite sua mensagem..." data-ng-model="newMessage">
          <button class="button button-positive">Enviar</button>
        </label>
      </form>
    </div>
  </div>
</ion-view>
