<ion-modal-view class="modal-init2">
  <!-- <ion-header-bar class="bar-light">
        </ion-header-bar> -->

   <ion-content class ="modal-camera">
     <div class="title-modal" >Selecione o dispositivo</div>
     <div class="padding">
     <div class="row icon-modal">
         <div class="col col-50">
           <a class="icon ion-camera" ng-click="newPicture('Camera.PictureSourceType.CAMERA');modal.hide()"></a>
         </div>
         <div class="col col-50">
           <div class="profile-image2" ng-click="newPicture('Camera.PictureSourceType.PHOTOLIBRARY');modal.hide()">
             <a class="icon ion-image"></a>
           </div>
         </div>
     </div>
   </div>

   </ion-content>
</ion-modal-view>
