<ion-view hide-nav-bar="true">
  <ion-content class="background-home">
    <div class="center-carai">
      <div class="circle-number">1
      </div>
    </div>
    <div class="margin-grey">
      Primeiro passo
    </div>
    <div class="damn">
      Configure seu perfil
    </div>
    <div class="profile-image padding">
      <img ng-src="data:image/jpeg;base64,{{image}}" err-src="/img/ionic.png" />
    </div>
    <button class="profile-edit-button" ng-click="alterarFoto()">Alterar foto</button>
    <form name="testForm" class="padding-tela1" novalidate>
      <div class="fields">
        <div class="distance">
          <span class="labels"></span>
          <label class="item item-input inputs-register">
            <input name="name" placeholder="Nome" type="text" ng-model='user.name' ng-required="true" ng-minlength="3" ng-maxlength="20">
          </label>
          <div class="errors">
            <p ng-show="testForm.name.$error.required">firstname is required</p>
            <p ng-show="testForm.name.$error.minlength">firstname is too short</p>
            <p ng-show="testForm.name.$error.maxlength">firstname is too long</p>
          </div>
        </div>
        <div class="distance">
          <span class="labels"></br></span>
          <ionic-datepicker ion-datetime-picker date="dateValue" min="minDate" max="maxDate" callback="datePickerCallback" date ng-model="user.birthday">
            <button class="button button-block icon-right ion-calendar"> {{ user.birthday | date:'dd/MM/yy' }}</button>
          </ionic-datepicker>
        </div>
        <div class="distance">
          <span class="labels"></br></span>
          <label class="item item-input inputs-register">
            <input name="district" placeholder="Bairro" type="text" ng-model='user.district' ng-required="true" ng-minlength="3" ng-maxlength="20">
          </label>
          <div class="errors">
            <p ng-show="testForm.district.$error.required">firstname is required</p>
            <p ng-show="testForm.district.$error.minlength">firstname is too short</p>
            <p ng-show="testForm.district.$error.maxlength">firstname is too long</p>
          </div>
        </div>
        <div class="distance">
          <span class="labels"></br></span>
          <label class="item item-input inputs-register">
            <input name="city" placeholder="Cidade" type="text" ng-model='user.city' ng-required="true" ng-minlength="3" ng-maxlength="20">
          </label>
          <div class="errors">
            <p ng-show="testForm.city.$error.required">firstname is required</p>
            <p ng-show="testForm.city.$error.minlength">firstname is too short</p>
            <p ng-show="testForm.city.$error.maxlength">firstname is too long</p>
          </div>
        </div>

        <div class="row">

          <div class="col col-50">
            <span class="labels"></br></span>
            <label class="item item-input inputs-register">
              <input placeholder="Altura" type="number" ng-model='user.height'>
            </label>
          </div>
          <div class="col col-50">
            <span class="labels"></br></span>
            <label class="item item-input inputs-register">
              <input placeholder="Peso" type="number" ng-model='user.weight'>
            </label>
          </div>
        </div>
        <div class="distance">
          <span class="labels"></br></span>
          <label class="item item-input">
            <textarea placeholder="Descrição" ng-model='user.description'></textarea>
          </label>
        </div>
      </div>
    <span class="labels"></br></span>
        <button class="sparara" ui-sref="app.segundaTelaEdit" ng-click="updateProfile(user)">Continuar</button>
        <span class="labels"></br></span>
        <span class="labels"></br></span>
    </form>
  </ion-content>
</ion-view>
