<ion-view view-title="Profile">
    <ion-content>
        <div class="hero slide-up" style="background-image: url('img/login.png');">
            <div class="blabla">
                <div class="avatar" style="background-image: url('{{user.avatar}}');"></div>
                <h3><a class="light">{{user.name}}</a></h3>
                <h4><div class="meucu">{{user.age}} anos</div></h4>
            </div>
        </div>
        <span class="labels"></br></span>
        <p ng-repeat="img in user.gallery">
          <img ng-src="{{img}}"/>
        </p>
        <div class="tabs tabs-light tabs-icon-only static">
            <a class="tab-item">
                <i class="icon ion-ios-location"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-location"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-location"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-location"></i>
            </a>
            <a class="tab-item">
                <i class="icon"></i>
            </a>
        </div>
        <a ui-sref="app.editprofile">Cadastre-se</a>
    </ion-content>
</ion-view>
