<ion-view view-title="Meu Perfil">
    <ion-content>
        <div class="hero slide-up" style="background-image: url('img/login.png');">
            <div class="blabla">
                <div class="avatar" style="background-image: url('{{user.avatar}}');"></div>
                <h3><a class="light">{{user.name}}</a></h3>
                <h4><div class="meucu">{{user.age}} anos</div></h4>
            </div>
        </div>
        <span class="labels"></br></span>

        <!-- <p ng-repeat="img in user.gallery">
          <img ng-src="{{img}}"/>
        </p> -->
        <div class="tabs tabs-light tabs-icon-only static">
            <a class="tab-item">
                <i class="icon ion-ios-location"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-location"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-location"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-location"></i>
            </a>
            <a class="tab-item">
                <i class="icon"></i>
            </a>
        </div>
        <a ui-sref="app.editprofile">Cadastre-se</a>
        <ion-gallery ion-gallery-items="galleryitems" ion-gallery-toggle="false"></ion-gallery>
    </ion-content>
    <ion-tabs ng-if="isLogged" class="tabs-light tabs-icon-only">

      <ion-tab ng-controller="locationsCtrl" icon-on="ion-compass"
        icon-off="ion-compass" ng-click="allLocations()">
      </ion-tab>

      <ion-tab icon-on="ion-chatbubble-working" icon-off="ion-chatbubble-working"
        ui-sref="app.matches">
      </ion-tab>

      <ion-tab icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
      </ion-tab>

      <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline"
        ui-sref="app.profile">
      </ion-tab>

    </ion-tabs>
</ion-view>
