<ion-view hide-nav-bar="true">
  <ion-content class="background-home">
    <div class="center-carai">
      <div class="circle-number">2
      </div>
    </div>
    <div class="margin-grey">
      Segundo passo
    </div>
    <div class="damn">
      Configurar busca
    </div>
    <div class="margin-grey-light">
      Procurando por
    </div>
    <div class="row">
      <div class="col col-50">
        <div>
          <i class="icon ion-man man-class"></i>
        </div>
      </div>
      <div class="col col-50">
        <div class="">
          <i class="icon ion-woman woman-class"></i>
        </div>
      </div>
    </div>
    <div class="padding-tela1">
      <div class="item range">
        <i class="icon ion-volume-low"></i>
        <input type="range" name="age" ng-model="range" min="18" max="100" value="28">
        <i class="icon ion-volume-high"></i>
      </div>
      {{range}} 
      <span class="labels"></br></span>
      <button class="sparara2" ng-click="alerta(range)">Concluir</button>
    </div>
  </ion-content>
</ion-view>
