<ion-view>
  <ion-nav-bar class="bar bar-light">
    <ion-nav-back-button ></ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button-icon icon ion-gear-b" ng-controller="LoginCtrl"ng-click="popover.show($event)">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
    <ion-content>
      <ion-nav-bar class="bar bar-header nao bar-light">
        </ion-nav-bar>
        <div class="hero slide-up" style="background-image: url('data:image/jpeg;base64,{{userp.background}}');">
            <div class="blabla">
                <div class="avatar" style="background-image: url('data:image/jpeg;base64,{{userp.avatar}}');"></div>

            </div>
            <div class="light1">{{userp.name}}</div>
            <h4><div class="meucu">{{userp.age}} anos</div></h4>
            <div class="description">{{userp.description}}</div>
            <div class="district">{{userp.district}}, {{userp.city}}</div>
            <div class="tabs tabs-light tabs-icon-only static ">
              <a class="tab-item">
                  <i ng-if="userp.locations[0]" class="icon mcfly" style="background-image: url('{{userp.locations[0].image}}');"></i>
                  <i ng-if="!userp.locations[0]" class="icon mcfly" style="background-image: url('../img/local_map.png');"></i>
              </a>
              <a class="tab-item">
                  <i ng-if="userp.locations[1]" class="icon mcfly" style="background-image: url('{{userp.locations[1].image}}');"></i>
                  <i ng-if="!userp.locations[1]" class="icon mcfly" style="background-image: url('../img/local_map.png');"></i>
              </a>
              <a class="tab-item">
                  <i ng-if="userp.locations[2]" class="icon mcfly" style="background-image: url('{{userp.locations[2].image}}');"></i>
                  <i ng-if="!userp.locations[2]" class="icon mcfly" style="background-image: url('../img/local_map.png');"></i>
              </a>
              <a class="tab-item">
                  <i ng-if="userp.locations[3]" class="icon mcfly" style="background-image: url('{{userp.locations[3].image}}');"></i>
                  <i ng-if="!userp.locations[3]" class="icon mcfly" style="background-image: url('../img/local_map.png');"></i>
              </a>
              <a class="tab-item">
                  <i ng-if="userp.locations[4]" class="icon mcfly" style="background-image: url('{{userp.locations[4].image}}');"></i>
                  <i ng-if="!userp.locations[4]" class="icon mcfly" style="background-image: url('../img/local_map.png');"></i>
              </a>
            </div>
        </div>
        <span class="labels"></br></span>
        <div ng-if="userp.gallery !== null">
          <ion-gallery ion-gallery-items="userpgallery" ion-gallery-toggle="false"></ion-gallery>
        </div>
        <div ng-if="userp.gallery === null">
          <img src="../img/local_map.png"/>
        </div>
    </ion-content>
    <ion-tabs ng-if="isLogged" class="tabs-light tabs-icon-only">

      <ion-tab ng-controller="locationsCtrl" icon-on="ion-compass"
        icon-off="ion-compass" ng-click="allLocations()">
      </ion-tab>

      <ion-tab icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline"
        ui-sref="app.matches" ng-controller="LoginCtrl" ng-click="reloadUser('app.matches')">
      </ion-tab>

      <ion-tab icon-off="icon coelho" ng-controller="UsersCtrl" ng-click="addInteraction(userp)">
      </ion-tab>

      <ion-tab icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline"
        ui-sref="app.notifications" ng-controller="LoginCtrl" ng-click="reloadUser('app.notifications')">
      </ion-tab>

      <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline"
        ui-sref="app.profile">
      </ion-tab>

    </ion-tabs>
</ion-view>
