<ion-view view-title="{{userp.name}}">
    <ion-content>
        <div class="hero slide-up" style="background-image: url('img/blue.png');">
            <div class="blabla">
                <div class="avatar" style="background-image: url('data:image/jpeg;base64,{{userp.avatar}}');" ng-if="userp.avatar !== null"></div>
                <div class="avatar" err="img/ionic.png" ng-if="userp.avatar === null"></div>
                <h3><a class="light">{{userp.name}}</a></h3>
                <h4><div class="meucu">{{userp.age}} anos</div></h4>
                <button class="cuzaum button button-assertive" ng-click="follow(userp)">Seguir</button>
            </div>
        </div>
        <span class="labels"></br></span>
        <div class="tabs tabs-light tabs-icon-only static">
            <a class="tab-item">
                <i class="icon mcfly"></i>
            </a>
            <a class="tab-item">
                <i class="icon mcfly"></i>
            </a>
            <a class="tab-item">
                <i class="icon mcfly"></i>
            </a>
            <a class="tab-item">
                <i class="icon mcfly"></i>
            </a>
            <a class="tab-item">
                <i class="icon"></i>
            </a>
        </div>
        <p ng-repeat="img in userp.gallery">
          <img ng-src="{{img}}"/>
        </p>
    </ion-content>
    <ion-tabs ng-if="isLogged" class="tabs-light tabs-icon-only tabs-color-positive">

      <ion-tab ng-controller="locationsCtrl" icon-on="ion-compass"
        icon-off="ion-compass" ng-click="allLocations()">
      </ion-tab>

      <ion-tab icon-on="ion-chatbubble-working" icon-off="ion-chatbubble-working"
        ui-sref="app.matches">
      </ion-tab>

      <ion-tab icon-on="ion-camera" icon-off="ion-camera"
        ui-sref="">
      </ion-tab>

      <ion-tab icon-on="ion-ios-bell" icon-off="ion-ios-bell"
        ui-sref="">
      </ion-tab>

      <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline"
        ui-sref="app.profile">
      </ion-tab>

    </ion-tabs>
</ion-view>
