<ion-view view-title="Profile">
    <ion-content>
        <div class="hero slide-up" style="background-image: url('img/login.png');">
            <div class="blabla">
                <div class="avatar" style="background-image: url('img/ionic.png');"ng-click="follow(userp)"></div>
                <h3><a class="light">{{userp.name}}</a></h3>
                <h4>{{userp.age}} anos</h4>
            </div>
        </div>
        <span class="labels"></br></span>
        <p ng-repeat="img in userp.gallery">
          <img ng-src="{{img}}"/>
        </p>
        <div class="tabs tabs-light tabs-icon-only static">
            <a class="tab-item">
                <i class="icon ion-ios-location"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-location"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-location"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-location"></i>
            </a>
            <a class="tab-item">
                <i class="icon"></i>
            </a>
        </div>
        <a class="button"ng-click="follow(userp)">Seguir</a>
    </ion-content>
</ion-view>
